<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Inventory Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
	<style>
	body {
	background-image: url("inventory_image.jpeg");
	}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Inventory Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/inventories}">Inventory Home Page</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<h1>Inventory List</h1>
		</div>

		<div class="row">
			<div class="col-Lg-3">
				<a th:href="@{/inventories/new}" class="btn btn-success btn-sm mb-3">
					Add Inventory</a>

			</div>
		</div>
		<table class="table table-hoover table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Product Name</th>
					<th>Cost</th>
					<th>Unit of Measure</th>
					<th>Quantity</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="inventory: ${inventories}">
					<td th:text="${inventory.productName}"></td>
					<td th:text="${inventory.productCost}"></td>
					<td th:text="${inventory.productUnitOfMeasure}"></td>
					<td th:text="${inventory.productQuantity}"></td>
					<td th:text="${inventory.productDescription}"></td>
					<td><a th:href="@{/inventories/edit/{id}(id=${inventory.id})}"
						class="btn btn-primary">Update</a><a
						th:href="@{/inventories/{id}(id=${inventory.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>

	</div>

</body>

</html>